.pane{
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}
.inner_box{
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffffff;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#login_pane{
    -fx-background-image: url('../icons/login_background.jpg');
}

#register_pane{
    -fx-background-image: url('../icons/register_background.jpg');
}

#forgotpassword_pane{
    -fx-background-image: url('../icons/register_background.jpg');
}

#back_button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#back_button:hover {
    -fx-opacity: 0.6;
}


#back_button:pressed {
    -fx-blend-mode: overlay;
}